.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large){
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/project/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
    }

    @include breakpoint-up(large){
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
      // background-image: url("/project/images/bg-intro-desktop.svg");
      // background-position: left center;
    }

    &::before {
      height: 100%;
      width: 100%;
      background-size: 93%;
      background-position: center bottom;
      
      
      @include breakpoint-up(large){
        content: "";
        position: absolute;
        width: 150%;
        height: 100%;
        background-image: url("/project/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 122%;
        background-position: center bottom;
        background-position: 0% 83%
      }
    }
    
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(/project/images/image-mockups.png);
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
        background-position: center 60%;
      }

      @include breakpoint-up(large){
        width: 120%;
        height: 122%;
        background-size: 93%;
        background-position: center bottom;
      }
    }

  }

  &__text {
    text-align: center;
    // breakpoint to display desktop. setting flex: 1 to both children div makes them assume the same height. "order" changes the order of appearance of each div
    @include breakpoint-up(large){
      flex: 2;
      order: 1;
      text-align: left;
    }
  }

}